@{
    ViewData["Title"] = "Dynamic Form Example";
    string email = ViewBag.email;
}


<h2>Bank Transactions</h2>

<!-- Menu Buttons -->
<div>
    <button type="button" onclick="showSection('withdraw')">Withdraw</button>
    <button type="button" onclick="showSection('deposit')">Add Balance</button>
    <button type="button" onclick="showSection('transfer')">User to User Transfer</button>
</div>

<br />

<!-- Withdraw Section -->
<div id="withdraw" style="display:block;">
    <h3>Withdraw Money</h3>
    <form method="post">
        <label>Amount:</label>
        <input type="number" name="Amount" required />
        <label>Description:</label>
        <input type="text" name="Description" value="" />
        <input type="hidden" name="Type" value="withdraw" />
        <input type="hidden" name="Email" value="@email" />
        <br /><br />
        <button type="submit">Withdraw</button>
    </form>
</div>

<!-- Deposit Section -->
<div id="deposit" style="display:none;">
    <h3>Add Balance</h3>
    <form method="post">
        <label>Amount:</label>
        <input type="number" name="Amount" required />
        <label>Description:</label>
        <input type="text" name="Description" value=""/>
        <input type="hidden" name="Type" value="deposit" />
        <input type="hidden" name="Email" value="@email" />
        <br /><br />
        <button type="submit">Add Balance</button>
    </form>
</div>

<!-- Transfer Section -->
<div id="transfer" style="display:none;">
    <h3>User to User Transfer</h3>
    <form method="post">
        <label>Recipient User ID:</label>
        <input type="text" name="RecipientId" required />
        <br /><br />
        <label>Amount:</label>
        <input type="number" name="Amount" required />
        <label>Description:</label>
        <input type="text" name="Description" value="" />
        <input type="hidden" name="Type" value="transfer" />
        <input type="hidden" name="Email" value="@email" />
        <br /><br />
        <button type="submit">Transfer</button>
    </form>
</div>




<script>
    function showSection(sectionId) {
        // Hide all
        document.getElementById("withdraw").style.display = "none";
        document.getElementById("deposit").style.display = "none";
        document.getElementById("transfer").style.display = "none";

        // Show selected
        document.getElementById(sectionId).style.display = "block";
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $("form").submit(function(e){
    e.preventDefault();


    let postData = {
            Amount: $(this).find("input[name='Amount']").val() || null,
            RecipientId: $(this).find("input[name='RecipientId']").val() || null,
            Type: $(this).find("input[name='Type']").val() || null,
            Email: $(this).find("input[name='Email']").val() || null,
            Description: $(this).find("input[name='Description']").val() || null
    };

    let container = $(this).closest(".customers");


    $.ajax({
    url: "/Account/Transaction",
    type: "POST",
    contentType: "application/json",
    data: JSON.stringify(postData),
        success: function (data) {
            // debugger;
        $(`#customer_${data}`).show();
        $(".Bank_transactions").empty();
    }

    });

    });

</script>
