@model SecureBank_Pro.BankEntities.Users;

@{
    string Role = Model.role;
    string userRole = ViewBag.Role;
}

<div>
    @if (!string.IsNullOrEmpty(Role))
    {
        <h3>User Registration From</h3>
        <form asp-action="EditUsers" method="post">

            <!-- Common for All Roles -->
            <div>
                <label>Full Name</label>
                <input asp-for="full_name" type="text"/>
            </div>

            <div>
                <label>Password</label>
                <input asp-for="password_hash" type="password" />
            </div>

            <div>
                <label>Phone Number</label>
                <input asp-for="phone_number" type="number"/>
            </div>

            <div>
                <input asp-for="role" type="hidden" value="@Model.role" />
            </div>

            <!-- Show Email if NOT Auditor -->
            @if (Model.role != "Auditor")
            {
                <div>
                    <label>Email</label>
                    <input asp-for="email" type="email" />
                </div>
            }

            <!-- Customer Fields -->
            @if (Model.role == "Customer")
            {
                <div>
                    <label>Address</label>
                    <input asp-for="address" />
                </div>

                <div>
                    <label>Date of Birth</label>
                    <input asp-for="date_of_birth" type="date" />
                </div>

                <div>
                    <label>KYC Status</label>
                    <select asp-for="kyc_status">
                        <option value="Pending">Pending</option>
                        <option value="Verified">Verified</option>
                        <option value="Rejected">Rejected</option>
                    </select>
                </div>
            }

            <!-- Manager & Employee Fields -->
            @if (Model.role == "Manager" || Model.role == "Employee")
            {
                <div>
                    <label>Branch Assigned</label>
                    <input asp-for="branch_assigned" type="text"/>
                </div>

                <div>
                    <label>Hire Date</label>
                    <input asp-for="hire_date" type="date" />
                </div>
            }

            <!-- Employee Specific Field -->
            @if (Model.role == "Employee")
            {
                <div>
                    <label>Role Title</label>
                    <input asp-for="role_title" type="text"/>
                </div>
            }

            <!-- Auditor Specific Fields -->
            @if (Model.role == "Auditor")
            {
                <div>
                    <label>Assigned Region</label>
                    <input asp-for="assigned_region" type="text"/>
                </div>

                <div>
                    <label>Can Export Reports</label>
                    <select asp-for="can_export_reports" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>


                <div>
                    <label>Last Login Time</label>
                    <input asp-for="last_login_time" type="datetime-local" />
                </div>
            }

            <!-- Active Status -->
            <div>
                <label>Is Active</label>
                <input asp-for="is_active" type="checkbox" />
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>

        </form>
    }
</div>

