@model SecureBank_Pro.BankEntities.UserFiles
@{
    string id = ViewBag.userId?.ToString() ?? "";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Dashboard/UploadDocuments.css" />
}

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="@id" />

    <div>
        @{
            if (Model?.signature_path != null)
            {
                <img id="signature-preview" src="@Model.signature_path" />
            }
        }
    </div>

    <div>
        <label for="signature-id">Signature</label>
        <input class="imageUpload" id="signature-id" name="signatureFile" type="file">
    </div>

    <div>
        @{
            if (Model?.profile_photo_path != null)
            {
                <img id="profile-preview" src="@Model.profile_photo_path" />
            }
        }
    </div>

    <div>
        <label for="profile-id">Profile Photo</label>
        <input class="imageUpload" id="profile-id" name="profileFile" type="file">
    </div>

    <hr />
    <button type="submit">Submit All</button>
</form>

<script src="/js/Dashboard/UploadDocuments.js"></script>