@model SecureBank_Pro.Models.User

@{
    string userRole = ViewBag.Role;
    string currentRole = ViewBag.currentRole;
}

<div>
    @if (!string.IsNullOrEmpty(userRole))
    {
        <h3>User Registration From</h3>
        <form asp-action="UserForm" method="post">

            <!-- Common for All Roles -->
            <div>
                <label>Full Name</label>
                <input asp-for="FullName" />
            </div>

            <div>
                <label>Password</label>
                <input asp-for="PasswordHash" type="password" autocomplete="new-password"/>
            </div>

            <div>
                <label>Phone Number</label>
                <input asp-for="PhoneNumber" />
            </div>

            <!-- Show Email if NOT Auditor -->
            
            <div>
                <label>Email</label>
                <input asp-for="Email" type="email" autocomplete="off"/>
            </div>
            

            <!-- Customer Fields -->
            @if (userRole == "Customer")
            {
                <div>
                    <label>Address</label>
                    <input asp-for="Address" />
                </div>

                <div>
                    <label>Date of Birth</label>
                    <input asp-for="DateOfBirth" type="date" />
                </div>

                <div>
                    <label>KYC Status</label>
                    <select asp-for="KycStatus">
                        <option value="Pending">Pending</option>
                        <option value="Verified">Verified</option>
                        <option value="Rejected">Rejected</option>
                    </select>
                </div>
            }

            <!-- Manager & Employee Fields -->
            @if (userRole == "Manager" || userRole == "Employee")
            {
                <div>
                    <label>Branch Assigned</label>
                    <input asp-for="BranchAssigned" />
                </div>

                <div>
                    <label>Hire Date</label>
                    <input asp-for="HireDate" type="date" />
                </div>
            }

            <!-- Employee Specific Field -->
            @if (userRole == "Employee")
            {
                <div>
                    <label>Role Title</label>
                    <input asp-for="RoleTitle" />
                </div>
            }

            <!-- Auditor Specific Fields -->
            @if (userRole == "Auditor")
            {
                <div>
                    <label>Assigned Region</label>
                    <input asp-for="AssignedRegion" />
                </div>

                <div>
                    <label>Can Export Reports</label>
                    <select asp-for="CanExportReports">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div>
                    <label>Last Login Time</label>
                    <input asp-for="LastLoginTime" type="datetime-local" />
                </div>
            }

            <!-- Active Status -->
            <div>
                <label>Is Active</label>
                <input asp-for="IsActive" type="checkbox" />
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>

        </form>
    }
    else
    {
        <form asp-action="UserForm" method="get">
            <div>
                <label for="Role">Role</label>
                @if (currentRole == "Employee")
                {
                    <select name="Role">
                        <option value="Customer">Customers</option>
                    </select>
                }
                else if (currentRole == "Manager")
                {
                    <select name="Role">
                        <option value="Customer">Customers</option>
                        <option value="Employee">Employee</option>
                        <option value="Manager">Managers</option>
                        <option value="Auditor">Auditor</option>
                    </select>
                }

                <button type="submit">Next</button>
            </div>
        </form>
    }
</div>

