#signature-preview {
    width: 180px;
    height: 90px;
    object-fit: contain;
    border: 1px solid #ccc;
}

#profile-preview {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
}
